#artesan{
	width: 400px;
	
	position: absolute;
	z-index: 10;

}
#artesan-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
#head1{
	position: absolute;
	z-index: 11;
	top: 0;
}
#head2{
	position: absolute;
	z-index: 11;
	bottom: 0;
}
/*index*/
.image{
	opacity: 1;
  	display: block;
  	height: 250px;
  	width: 100%;
  	object-fit: cover;
  	transition: .2s ease;
  	backface-visibility: hidden;
}
.mid{
	opacity: 0;
	position: absolute;
	width: 90%;
	top:65%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
}
.con {
  position: relative;
  width: 100%;
}
.con:hover .image {
  opacity: 0.7;
}

.con:hover .mid {
  opacity: .5;
}
/*profile*/
.picborder{
	position: relative;
	height: 150px;
	width: 150px;
}
#desc{
	resize: none;
}
.image2{
	opacity: 1;
  	display: block;
  	transition: .2s ease;
  	backface-visibility: hidden;
}
.mid2{
	opacity: 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 75%;
	transform: translate(-50%, -50%);
}
.picborder:hover .image2{
	opacity: 0.7;
}
.picborder:hover .mid2{
	opacity: 0.5;
}